.orderplaced {
  width: 100%;
  min-width: 414px;
  height: 100vh;
  min-height: 736px;
  position: relative;
  overflow: hidden;
  margin: 0;
  background-color: rgba(255, 255, 255, 1.0)
}

a {
  text-decoration: none
}

div {
  -webkit-text-size-adjust: none
}

div {
  -webkit-text-size-adjust: none
}

.orderplaced .rectangle6 {
  background-color: rgba(140, 198, 66, 1.0);
  top: 0;
  height: 736px;
  width: 414px;
  position: absolute;
  margin: 0;
  left: 0;
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0)
}

.orderplaced .group {
  background-color: rgba(255, 255, 255, 0.0);
  top: 219px;
  height: 181px;
  width: 290px;
  position: absolute;
  margin: 0;
  left: 62px;
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0)
}

.orderplaced .group .youru2018regularlatte {
  background-color: rgba(255, 255, 255, 0.0);
  top: 91px;
  height: auto;
  width: 290px;
  position: absolute;
  margin: 0;
  left: 0;
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 23.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: center;
  line-height: 30.0px
}

.orderplaced .group .nouncoffee776909000000 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 58px;
  width: 48px;
  position: absolute;
  margin: 0;
  left: 121px;
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  opacity: .6
}

.orderplaced .group .nouncoffee776909000000 .shape {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 58px;
  width: 47px;
  position: absolute;
  margin: 0;
  left: 0;
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0)
}

.orderplaced .group .nouncoffee776909000000 .path {
  background-color: rgba(255, 255, 255, 0.0);
  top: 28px;
  height: 12px;
  width: 12px;
  position: absolute;
  margin: 0;
  left: 18px;
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0)
}

.anima-animate-appear {
  opacity: 0;
  display: block;
  -webkit-animation: anima-reveal .3s ease-in-out 1 normal forwards;
  -moz-animation: anima-reveal .3s ease-in 1 normal forwards;
  -o-animation: anima-reveal .3s ease-in-out 1 normal forwards;
  animation: anima-reveal .3s ease-in-out 1 normal forwards
}

.anima-animate-disappear {
  opacity: 1;
  display: block;
  -webkit-animation: anima-reveal .3s ease-in-out 1 reverse forwards;
  -moz-animation: anima-reveal .3s ease-in 1 normal forwards;
  -o-animation: anima-reveal .3s ease-in-out 1 reverse forwards;
  animation: anima-reveal .3s ease-in-out 1 reverse forwards
}

.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0
}

@-webkit-keyframes anima-reveal {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-moz-keyframes anima-reveal {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-o-keyframes anima-reveal {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes anima-reveal {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}