<!DOCTYPE html>

<!-- To get the source code upgrade to a Pro plan and Export code https://launchpad.animaapp.com/pricing - Sample Exported Code: https://medium.com/sketch-app-sources/how-to-export-sketch-to-html-65c427b3aa3a -->


<html>

<head>
  <link rel="shortcut icon" type="image/png" href="https://animaapp.s3.amazonaws.com/home/favicon.png">
  <meta charset=UTF-8>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="author" content="Launchpad by Anima">
</head>

<body>
  <input type="hidden" id="anPageName" name="page" value="mobilecustomiseandconfirm">
  <div class="mobilecustomiseandconfirm">
    <div style="width: 414px; height: 100%; position:relative; margin:auto;">
      <img class="line" src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd132bf789fee000a7c18f9/img/mobile-home-line.png">
      <img class=line1 src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd132bf789fee000a7c18f9/img/mobile-home-line.png">
      <div class=regularlattewith2>{{ size }} {{ name }} with 2 sugars and Soy Milk</div>
      <div class=latte>{{ name }}</div>
      <div class=group9>
        <div class=a1>{{ quantity }}</div>
      </div>
      <img class=oval (click) = "SelectQuantity('add')" src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd133bb789fee000a7c1906/img/mobile-customise-and-confirm-oval@2x.png">
      <div class=label1 (click) = "SelectQuantity('add')">+</div>
      <img class=oval1 (click) = "SelectQuantity('remove')" src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd133bb789fee000a7c1906/img/mobile-customise-and-confirm-oval 1@2x.png">
      
      <div class=label2 (click) = "SelectQuantity('remove')">-</div>
      <div class=a250>{{ price }}</div>
      <div class=a1234>
        <div (click) = "SelectSugar('1')">1</div>
        <div (click) = "SelectSugar('2')">2</div>
        <div (click) = "SelectSugar('3')">3</div>
        <div (click) = "SelectSugar('4')">4</div>
      </div>
      <div [ngSwitch]="sugar" class="sugar-section">
        <div class="sugar-radio" (click) = "SelectSugar('1')">
          <div *ngSwitchCase="1">
              <div class="sugar-radio-selected"></div>
          </div>
        </div>
        <div class="sugar-radio" (click) = "SelectSugar('2')">
          <div *ngSwitchCase="2">
              <div class="sugar-radio-selected"></div>
          </div>
        </div>
        <div class="sugar-radio" (click) = "SelectSugar('3')">
          <div *ngSwitchCase="3">
              <div class="sugar-radio-selected"></div>
          </div>
        </div>
        <div class="sugar-radio" (click) = "SelectSugar('4')">
          <div *ngSwitchCase="4">
              <div class="sugar-radio-selected"></div>
          </div>
        </div>
      </div>
      <div class=fullcreamskimsoy>
        <div (click) = "SelectMilk('Full Cream')">FULL CREAM</div>
        <div (click) = "SelectMilk('Skim')">SKIM</div>
        <div (click) = "SelectMilk('Soy')">SOY +$0.20</div>
      </div>
      <div [ngSwitch]="milk" class="milk-section">
        <div class="milk-radio" (click) = "SelectMilk('Full Cream')">
          <div *ngSwitchCase="'Full Cream'">
            <div class="milk-radio-selected"></div>
          </div>
        </div>
        <div class="milk-radio" (click) = "SelectMilk('Skim')">
          <div *ngSwitchCase="'Skim'">
            <div class="milk-radio-selected"></div>
          </div>
        </div>
        <div class="milk-radio" (click) = "SelectMilk('Soy')">
          <div *ngSwitchCase="'Soy'">
            <div class="milk-radio-selected"></div>
          </div>
        </div>
      </div>
      <div class=sugars>Sugars</div>
      <img class=line2 src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd132bf789fee000a7c18f9/img/mobile-home-line.png">
      <img class=line3 src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd132bf789fee000a7c18f9/img/mobile-home-line.png">
      <div class=milk>Milk</div>
      <img class=line4 src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd132bf789fee000a7c18f9/img/mobile-home-line.png">
      <img class=line5 src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd132bf789fee000a7c18f9/img/mobile-home-line.png">
      <div class=otheroptions>Other Options</div>
      <div id=6zDp3lX>
        <div class="group22-ZVz8 component state1" data-initial-state=state1 data-name=group22ZVz86zDp3lX>
          <div class="rectangle3 " data-name=rectangle3rfbD6zDp3lX></div>
          <div class=confirm (click) = "ConfirmOrder()"> Confirm </div>
        </div>
      </div>
      <div class=rectangle6></div>
      <img class=page1 src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd133bb789fee000a7c1906/img/mobile-customise-and-confirm-page-1.png">
      <div class=drinks>Drinks</div>
    </div>
  </div>
</body>
</html>