<!DOCTYPE html>

<!-- To get the source code upgrade to a Pro plan and Export code https://launchpad.animaapp.com/pricing - Sample Exported Code: https://medium.com/sketch-app-sources/how-to-export-sketch-to-html-65c427b3aa3a -->


<html>

<head>
  <link rel="shortcut icon" type=image/png href=https://animaapp.s3.amazonaws.com/home/favicon.png>
  <meta charset=UTF-8>
  <meta name=viewport content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name=author content="Launchpad by Anima">
</head>

<body>
  <input type=hidden id=anPageName name=page value=mobilecheckout>
  <div class=mobilecheckout>
    <div style="width: 414px; height: 100%; position:relative; margin:auto;">
      <div class=rectangle></div>
      <div class=rectangle1></div>
      <div class=rectangle6></div>
      <div class=yourorder>Your Order</div>
      <div class=group2>
        <div class=rectangle3></div>
        <div class=placeorder>Place Order</div>
      </div>
      <div class=regularlattewith2>Regular latte with 2 sugars and Soy Milk</div>
      <div class=a1latte>1 Latte</div>
      <div class=a600>$6.00</div>
      <div class=total>Total:</div>
      <div class=group>
        <div class=paynow>Pay Now </div>
        <div class=payoncollect>Pay on Collect</div>
        <div class=group21>
          <img class=oval3 src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd133bb789fee000a7c1906/img/mobile-customise-and-confirm-oval 9@2x.png">
          <img class=oval11 src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd133bb789fee000a7c1906/img/mobile-customise-and-confirm-oval 7@2x.png">
        </div>
        <img class=oval2 src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd133bb789fee000a7c1906/img/mobile-customise-and-confirm-oval 9@2x.png">
      </div>
      <div class=ioniconssvgiosarrowroundback>
        <img class=shape src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd133779c4495000abd2917/img/mobile-order-shape@2x.png">
      </div>
      <img class=oval src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd13407789fee000b0fbb77/img/mobile-checkout-oval 3@2x.png">
      <div class=label1>-</div>
      <div class=a250>$2.50</div>
      <div class=babylatteforkids>Baby latte for kids</div>
      <div class=a1picolo>1 Picolo</div>
      <img class=oval1 src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd13407789fee000b0fbb77/img/mobile-checkout-oval 3@2x.png">
      <div class=label2>-</div>
      <div class=a350>$3.50</div>
      <img class=line src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd132bf789fee000a7c18f9/img/mobile-home-line.png">
    </div>
  </div>
</body>

</html>