<!DOCTYPE html>

<!-- To get the source code upgrade to a Pro plan and Export code https://launchpad.animaapp.com/pricing - Sample Exported Code: https://medium.com/sketch-app-sources/how-to-export-sketch-to-html-65c427b3aa3a -->


<html>
<head>
  <link rel="shortcut icon" type= "image/png" href="https://animaapp.s3.amazonaws.com/home/favicon.png">
  <meta charset=UTF-8>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name=author content="Launchpad by Anima">
</head>

<body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
  <input type=hidden id=anPageName name=page value=mobilehome>
  <div class=mobilehome>
    <div style="width: 414px; height: 100%; position:relative; margin:auto;">
      <div class="group">
        <img class="pizzaslicednearbox925x" src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd132bf789fee000a7c18f9/img/mobile-home-pizza-sliced-near-box925x.png">
        <img class="pizzaslicednearbox925x1" src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd132bf789fee000a7c18f9/img/mobile-home-pizza-sliced-near-box925x 1.png">
        <img class="pizzaslicednearbox925x2" src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd132bf789fee000a7c18f9/img/mobile-home-pizza-sliced-near-box925x 2.png">
      </div>
      <div class="group6">
        <div class="takehomesoups">Take Home Soups</div>
        <div class="group7">
          <img class="oval3" src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd132bf789fee000a7c18f9/img/mobile-home-oval-3@2x.png">
          <img class="oval31" src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd132bf789fee000a7c18f9/img/mobile-home-oval-3 1@2x.png">
          <img class="oval32" src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd132bf789fee000a7c18f9/img/mobile-home-oval-3 1@2x.png">
        </div>
      </div>
      <img class="bitmap"src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd132bf789fee000a7c18f9/img/mobile-home-bitmap@2x.png">
      <img class="line" src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd132bf789fee000a7c18f9/img/mobile-home-line.png">
      <div class="group11">
        <div class="group9">
          <img class="bitmap1" src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd132bf789fee000a7c18f9/img/mobile-home-bitmap 1@2x.png">
        </div>
        <div class="group31">
          <div class="catering">Catering</div>
        </div>
      </div>
      <div class="group111" (click)="NavToCafe()">
        <div class="group9">
          <img class="bitmap1" src="https://anima-uploads.s3.amazonaws.com/5b57c712bb0a500009037fb3/5bd132bd789fee0009e5c451/5bd132bf789fee000a7c18f9/img/mobile-home-bitmap 2@2x.png">
        </div>
        <div class="group31">
          <div class="drinks">Drinks</div>
        </div>
      </div>
      <div class="yourfavouriteselec">Your Favourite Selection</div>
      <div class="yourorder0">Your Order (0)</div>
    </div>
  </div>
</body>

</html>