/* .slider-container
{
    overflow-x: hidden ;
    padding: 0px 20px 20px 20px;
    
    .slider {
        display: flex;
        align-items: center;
        width: 100%;
        width: calc(var(--n)*90%);
        
        overflow-y: hidden;
        height: auto;
        max-height: auto;
        
        img {
        min-width: 90%;
        width: 90%;
        pointer-events: none;
        margin-right: 2px;
        }
    }
} */




.carousel-inner
{
    position: relative;  width: 100%; overflow: hidden; min-height: 90px;
}

.float-container { width: 100%;}

.carousel-item
{
    width: 100%; overflow: hidden; position: absolute;
    left: 100%; padding-right: 120px;

    .icon
    {
        float: left; width: 20%; max-width: 100px;

        img {
            max-width: 100px;
        }
    }
    .details
    {
        float: left;
        max-width: 500px;
        margin-left: 40px;
        
        .title { font-weight: 600; color: #333;}
        p { margin-top: 10px; color: #999; }
    }
}

.carousel-open:checked + .carousel-item {
    
    left: 15%;
    transition: left 0.4s ease-out;
}

.carousel-control {
    border: solid 1px #dbdbdb;
    border-radius: 50%;
    color: #dbdbdb;
    cursor: pointer;
    font-size: 37px;
    height: 40px;
    line-height: 30px;
    position: absolute;
    top: 43%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
    background: #fff;
}


.carousel-control.next {
    right: 0px;
}

.carousel-control:hover {
    background: rgba(199, 199, 199, 0.096);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
    color: #2a52be;
    z-index: 11;
}

.carousel-indicators {
    text-align: center;
    display: none;
    margin-top: 20px;
    height: 30px;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #dbdbdb;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}