<div class="btn-group" dropdown>
  <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-basic">
    Button dropdown <span class="caret"></span>
  </button>
  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
      role="menu" aria-labelledby="button-basic">
      <div *ngFor="let type of cartypeObservable | async">
              <li role="menuitem"><a class="dropdown-item" href="#">{{type.name}}</a></li>
      </div>
  </ul>
</div>


<!-- <ul>
    <div *ngFor="let user of usersObservable | async">
            <div>
                <a href="{{user}}" target="_blank" class="btn btn-danger">Go To Course</a>
            </div>
    </div>
</ul> -->
